@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

.largeDiv{
    background-color: #43ABC9;
}


.get-started-btn{
   background-color: transparent;
   position: relative; 
    border: none;
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    
}
.h1{
font-size: 100px;
line-height: 120px;
padding: 0;
margin-left: 0;
color: aquamarine;
font-weight: 700;
text-align: left;
}
.h2{
    font-size: 80px;
    line-height: 100px;
    padding-left: 3px;
    font-weight: 600;
    color: aliceblue;
    
  
}

.h4{
    font-size: 30px;
    padding-left: 10px;
    color: rgba(255,255,255, 0.7);
}

.hero{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
    align-items: flex-start;
    justify-content: center;
    height: 90vh;
 width: 100%;

}


.landInfo{
    width: 100%;
    height: 100%;
    
    flex: 1;
   
    display: flex;
    flex-direction: column;
   
    justify-content: center;
    text-align: left;
    padding: 0 80px;

}

.landInfo button{
    width: 250px;
    margin: 0;
    padding-left: 7px;
    transition: 0.3s ease-in-out;
    margin-top: 5
    0px;
}

.slideContainer{
    flex: 1;
    width: 50%;
    height: 100%;
    
   
    background-size:70%;
    background-repeat:no-repeat;
    background-position: center;
 animation: slide 15s infinite;
 background-size: 60%;
 opacity: 1;
    transition: opacity 2s ;
   
}

.landingNav{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.get-started-btn::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: -4px;
    left: 6px;
    transition: 0.3s ease-in-out;
}

.get-started-btn:hover{
    color:aquamarine;
    transition: 0.3s ease-in-out;
}


.get-started-btn:hover::after
{
    color:aquamarine;
    content: "";
    width: 77%;
    height: 2px;
    background-color: aquamarine;
    position: absolute;
    bottom: -4px;
    left: 5px;
    transition: 0.3s ease-in-out;
}

.bestsellers{
    background: rgb(28, 144, 177);
    
    border-radius:10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
}
.bestsellers h3{
    padding-top: 20px;

}
.bestSellerItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
}

.logo_footer{
    display: flex;
    justify-content: left;
    justify-items: center;
    align-items: center;
    font-weight: 600;
    font-size: 20px;

}
.footer{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    justify-items: left;
    align-items: left;
    text-align: left;
    padding-top: 20px;
    background-color: #43ABC9;
    color:white
}



@keyframes slide{
   
    0%{
    


        opacity: 1;
        background: url("../landingpage/slideImages/82744633.png")no-repeat center;
    }

15%{
   
       
    opacity: 1;
    background: url("../landingpage/slideImages/82744633.png")no-repeat center;
}

19%{
 
    
    opacity: 0;
   background: #43ABC9 no-repeat center;
}



    20%{
    
        opacity: 1;
        background: url("../landingpage/slideImages/razerkrakencompareslider01new_2.png")no-repeat center;
    }


    35%{
     
        opacity: 1;
        background: url("../landingpage/slideImages/razerkrakencompareslider01new_2.png")no-repeat center;
    }
    39%{
   opacity: 0; 
   background: #43ABC9 no-repeat center;
        
    }
    40%{
     
        opacity: 1;
        background: url("../landingpage/slideImages/vipermini.png")no-repeat center;
    }

    55%{
     
        opacity: 1;
        background: url("../landingpage/slideImages/vipermini.png")no-repeat center;
    }

    59%{
        opacity: 0; 
        background: #43ABC9 no-repeat center;
             
         }


     60%{
        opacity: 1;
        background: url("../landingpage/slideImages/p6x7KSO1FArrKCkWI1wOiZchoADVSBOdrcgNAXrn.png")no-repeat center;
     }    

     75%{
        opacity: 1;
        background: url("../landingpage/slideImages/p6x7KSO1FArrKCkWI1wOiZchoADVSBOdrcgNAXrn.png")no-repeat center;
     }    

     79%{
        opacity: 0; 
        background: #43ABC9 no-repeat center;
             
         }
         80%{
            opacity: 1;
            background: url("../landingpage/slideImages/72-727144_monitors-best-gaming-monitor-2017.png")no-repeat center;
         }    
    
         95%{
            opacity: 1;
            background: url("../landingpage/slideImages/72-727144_monitors-best-gaming-monitor-2017.png")no-repeat center;
         }    
         99%{
            opacity: 0; 
            background: #43ABC9 no-repeat center;
                 
             }
            100%{
    


                opacity: 1;
                background: url("../landingpage/slideImages/82744633.png")no-repeat center;
            }
             

}


@media screen and (max-width:1000px) {
    .hero{
     
       
     
        
     width: 100%;
    
    }

    .h1{
font-size: 50px;
line-height: 70px;
padding: 0;
margin-left: 0;
color: aquamarine;
font-weight: 700;
text-align: left;
}
.h2{
    font-size: 20px;
    line-height: 50px;
    padding-left: 3px;
    font-weight: 600;
    color: aliceblue;
    
  
}

.h4{
    font-size: 15px;
    padding-left: 5px;
    color: rgba(255,255,255, 0.7);
}

.slideContainer{
    flex: 1;
    width: 100%;
    height: 100%;
    
   z-index: -20;
    background-size:70%;
    background-repeat:no-repeat;
    background-position: center;
 animation: slide 15s infinite;
 background-size:contain;
 opacity: 1;
    transition: opacity 2s ;
   
}
.bestsellers{
    background: rgb(28, 144, 177);
    
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin-top: 55px;
    margin-bottom: 20px;
    width: 90%;
}
.bestsellers h3{
    padding-top: 20px;

}
.bestSellerItems{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.landingNav{
    width: 110vw;
    display: sticky;
}


.largeDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
}
.footer{
   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    justify-items: left;
    align-items: left;
    text-align: left;
    padding-top: 20px;
    background-color: #01617c;
    color:white;
    font-size: 10px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.col1,.col2,.col3{
    flex:1;
}

.col1 p{
 max-width: 50%;
}

}