body{
    margin: 0px;
    padding:0px;
    
}

.salesCard{
   display: flex;
   justify-content: center;
    margin: 0px;
    min-width: 90%;
  
    background-color:rgb(255, 255, 255);
    border-radius: 20px;
    align-items: center;
    text-align:start ;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

    
   margin-bottom: 20px;
   color: rgba(0, 0, 0, 0.377);
  overflow: hidden ;
   white-space:nowrap;
   text-overflow: ellipsis ;
 padding: 10px;
 position: relative;

  
}

.salesName{
    max-width: 380px;
    word-wrap: break-word;
}

.salecard-image{
    height: 80%; 
    width: 85%;
    min-width: 150px;
   background-color: white;
   border-radius: 20px 20px 0 0 ;
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;    border-radius: 20px !important;
    margin-bottom: 15px;
}

.salesPhotoWrapper{
    flex:2;
  
}

.salesInfoWrapper{
    flex: 7;
    
}

.description{
    word-wrap: break-word;
    white-space: initial;
    color: black;
}



.checked {
  color: orange;
}

.closeicon{
    position: absolute;
    left: 97%;
    top: 5%;
    color: rgb(255, 75, 75);
    cursor: pointer;
}


.salesCard h3{
padding: top 7px;
font-size: 30px;
color: black;
overflow: hidden !important;
   white-space:nowrap !important;
   text-overflow: ellipsis !important;
   font-family:sans-serif;
   font-weight: 600;
}

.salesCard h4{
    padding-top: 7px;
    font-size: 25px;
    font-weight: 700;
    color:#088178;
}



.checkoutBtn{
    position: absolute;
    left: 80%;
    bottom: 15%;

  background: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  
}


h5{
    color: black;
}

.color{
    color: #088178;
    font-weight: 300;
}

.status-red{
    color: red;
}

.btnhidden{
    position: absolute;
    left: 85%;
    bottom: 15%;
visibility: hidden;
  background: #ff0000;
  border: 1px solid #ff0000;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.sales-content{
    position: relative;
    background: #ffffff;
    min-height: 100vh;
    
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
    
}


.sidebar.open ~ .sales-content{
    left: 250px;
    width: calc(100% - 250px);
  }

  .salesCard{
    margin-left:2%;
    
  }


  @media screen and (max-width:769px)and (min-width: 400px){



  }

  @media screen and (max-width:399px){
.salesCard{
    max-width: 95%;
    
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
height: fit-content;
}

.salesName{
    max-width: 300px;
}
h3{
    padding: top 7px;
    font-size: 20px!important;
    color: black;
    overflow: hidden !important;
    white-space:wrap !important;
 
    font-family:sans-serif;
    font-weight: 600;
    }
    .sales-content{
        margin-left: 1px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        justify-items: left;
    }
    .salesproduct{
        
    }

    .checkoutBtn{
        position: absolute;
        left: 85%;
        bottom: 10%;
        font-size: 15px;
        padding:5px;
        margin-left: 20px;
    }
.salesInfoWrapper{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    justify-items: left;
    align-self: start;
}
.salesPhotoWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
  }



  @media screen and (max-width:1200px) and (min-width:770px) {
    .checkoutBtn{
        position: absolute;
        left: 60%;}
  }